/*Dashboard*/
.dash-container {
  display: flex;
}
.left-menu {
  padding: 10px;
  margin: 0 auto;
  background-color: maroon;
  float:left;
  width: 25%;
  min-height: 85vh;
}
.left-menu img {
  text-align: center;
}
.right-content {
  padding-left: 10px;
  background-color: grey;
  float:left;
  width: 75%;
  display: inline-block;
}
.hosting-card {
  margin: 0;

}
