/*Dashboard*/
.dash-container {
  display: flex;
  flex-direction: row;
  margin-top: 85px;
}
.left-menu {
  padding: 10px;
  background-color: rgba(80, 150, 175, 0.5);
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left-menu img {
  width: 40%;
  border-radius: 50%;
  margin: 15%;
}
.left-menu p {
  font-size: 1.6vw;
  font-family: 'Roboto Condensed', sans-serif;
}

.dashboard-nav{
  margin: 10%;
}

.dashboard-nav ul {
  list-style-type: none;
  font-size: 1.6vw;
  font-family: 'Roboto Condensed', sans-serif;
}

.dash-logout button {
  width: 100%;
  font-size: 1.6vw;
  font-family: 'Roboto Condensed', sans-serif;
  color: grey;
  background-color: rgb(170, 217, 224);
  opacity: 0.8;
  margin-left: 5%;
}
.right-content {
  padding-left: 10px;
  background-color: grey;
  flex: 3;
  overflow-y: scroll;
  height: 100vh;
}
.hosting-card {
  margin: 0;
}
.activity-row {
  float: left;
  width: 45%;
  background-color: blue;
  border: 2px solid yellow;
}
