/*Dashboard*/
.dash-container {
  display: flex;
  flex-direction: row;
  margin-top: 85px;
}
.left-menu {
  padding: 10px;
  background-color: maroon;
  flex: 1;
  height: 100vh;
}
.left-menu img {
  text-align: center;
}
.right-content {
  padding-left: 10px;
  background-color: grey;
  flex: 3;
  overflow-y: scroll;
  height: 100vh;
}
.hosting-card {
  margin: 0;
}
.activity-row {
  float: left;
  width: 45%;
  background-color: blue;
  border: 2px solid yellow;
}
